/* START BASE */
html {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* END BASE */

/* START HEADER */
header {
  margin: 20px 200px 20px 200px;
  max-width: 1440px;

  display: flex;
  flex-direction: row;
}

header figure {
  flex: 4;
}

header nav {
  flex: 5;
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
}

header nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

header nav ul li {
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  color: #d7df17;
}

/* END HEADER */

/* START MAIN */
main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  background-image: url("./img/background.png");
  background-size: contain;
  background-position: right bottom;
}

/** BANNER/HERO */
main figure img {
  object-fit: contain;
  width: 100%;
}

main section {
  max-width: 1440px;
  margin: 20px 200px 20px 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section header {
  width: 100%;
  margin: 40px auto;
}

main section header h2 {
  color: #d7df17;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto auto;
  letter-spacing: 0.08ch;
}

main section header h3 {
  font-size: 2rem;
  padding-bottom: 4px;
}

#participantes article {
  align-content: space-between;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-rows: 0.3fr 0.7fr;
  border: 4px solid #9264cc;
  border-radius: 4px;
  width: 48%;

  max-width: 100%;
  background-color: black;

  margin-bottom: 40px;
}

#participantes article:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
}

#participantes article header,
#participantes article p,
#participantes article footer {
  grid-column: 1;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding-left: 10px;
  padding-top: 4px;
}

#participantes article header {
  padding-top: 8px;
}

#participantes article footer {
  grid-column: 1 / span 2;
  padding: 12px;
  margin-top: 10px;
}

#participantes article p {
  height: 100%;
  align-self: flex-start;
}

#participantes article aside {
  grid-column: 2;
  padding: 10px;
  width: 100%;
  height: 100%;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#participantes article aside figure img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  padding-top: 6px;

  height: 100%;
  width: 100%;
}

#participantes article footer {
  width: 100%;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  border-top: 5px solid;
  padding: 12px 0px 12px 0px;
}

#participantes article footer a {
  color: white;
  border: 3px solid;
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
}

/** START CUSTOM CARDS */

#participantes > :nth-child(2) {
  border-color: #dbafe0;
}

#participantes > :nth-child(2) footer {
  border-color: #dbafe0;
}

#participantes > :nth-child(2) footer a {
  border-color: #dbafe0;
}

#participantes > :nth-child(3) {
  border-color: #fb4a40;
}

#participantes > :nth-child(3) footer {
  border-color: #fb4a40;
}

#participantes > :nth-child(3) footer a {
  border-color: #fb4a40;
}

#participantes > :nth-child(4) {
  border-color: #01af9a;
}

#participantes > :nth-child(4) footer {
  border-color: #01af9a;
}

#participantes > :nth-child(4) footer a {
  border-color: #01af9a;
}

#participantes > :nth-child(5) {
  border-color: #ffcd00;
}

#participantes > :nth-child(5) footer {
  border-color: #ffcd00;
}

#participantes > :nth-child(5) footer a {
  border-color: #ffcd00;
}

/** END CUSTOM CARDS */

/** START GALERIA */

#galeria article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#galeria article > :nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#galeria article > :nth-child(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

#galeria article > :nth-child(3) {
  grid-column: 4;
  grid-row: 1;
}

#galeria article > :nth-child(4) {
  grid-column: 1;
  grid-row: 2 / span 2;
}

#galeria article > :nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

#galeria article > :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

#galeria article > :nth-child(7) {
  grid-column: 4;
  grid-row: 2 / span 2;
}

#galeria article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#galeria article figure img:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
}

/** END GALERIA */

/** START EVENTOS */
#eventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#eventos header {
  width: 100%;
}

#eventos article {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  max-width: 32%;
  border: 4px solid #9264cc;
  border-radius: 4px;
  background-color: black;
  text-align: left;
  align-content: space-between;
}

#eventos article:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
}

#eventos article aside {
  height: 100%;
  grid-column: 1;
  grid-row: 1 / span 3;
}

#eventos article aside figure {
  position: relative;
  height: 100%;
}

#eventos article aside figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#eventos article header {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 30px;
}

#eventos article header h3 {
  color: #ffcd00;
  font-family: "Anton", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

#eventos article ul {
  margin-bottom: 8px;
  margin-left: 30px;
  margin-right: 10px;
}

#eventos article ul li {
  padding-bottom: 4px;
  padding-top: 4px;
  /* max-width: 50ch; */
}

#eventos article footer {
  grid-row: 3;

  padding: 10px;
  height: 100%;

  display: flex;
  justify-content: flex-start;
}

#eventos article footer a {
  width: fit-content;
  align-self: flex-start;
  padding: 5px;
  margin-left: 20px;

  background-color: #7118d7;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  border-color: #7118d7;
  border-radius: 2px;

  cursor: pointer;
}

#eventos article a:hover {
  background-color: #9264cc;
}

/** END EVENTOS */

/* START COMENTAR */

#comentar {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comentar article {
  max-width: 48%;
}

#comentar article table {
  text-align: left;
  border-collapse: collapse;
  padding: 10px;
  background-color: black;
}

#comentar table td,
#comentar table th {
  border: 1px solid #ddd;
  padding: 24px;
}

#comentar table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7118d7;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

#comentar article header {
  width: 100%;
  padding-top: 0px;
  margin: 0px 0px;
  display: flex;
}

#comentar article header h3 {
  width: 100%;
  text-align: center;
}

#comentar article ul {
  padding: 28px;
}

/* START FORM */
#comentar article form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comentar article form fieldset {
  width: 45%;
  box-sizing: border-box;
  text-align: left;
  border: none;
  padding: 10px 0px 10px 0px;
}

#comentar article form fieldset label {
  display: block;
  padding-bottom: 2px;
}

#comentar article form fieldset input[type="radio"] {
  margin-top: 10px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
}

#comentar article form input,
select {
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 4px;
  padding-left: 10px;
}

#comentar article form fieldset label[for="si"],
#comentar article form fieldset label[for="no"] {
  display: inline-block;
}

#comentar article form > :nth-child(3) label {
  width: 100%;
}

#comentar article form > :nth-child(3) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

#comentar article form fieldset textarea {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

#comentar article form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #7118d7;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  border-color: #7118d7;

  cursor: pointer;
}

#comentar article form input[type="submit"]:hover {
  background-color: #9264cc;
}

/* END FORM */

/* END COMENTAR */

/* END MAIN */

/** START FOOTER */
footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer figure {
  padding: 10px;
}

footer figure:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
}

/** END FOOTER */
