/**
  COLORES CSS EXTRAIDOS DE https://assets-global.website-files.com/61648208fbba11601a19f03a/css/lollapaloozaar.webflow.cbd58227a.min.css
*/

/* :root {
  --dark-violet: #7118d7;
  --black: black;
  --white: white;
  --gold: #ffcd00;
  --tomato: #ff4439;
  --medium-purple: #9264cc;
  --sweet-pepper-yellow: #d7df17;
  --wildflower-pink: #dbafe0;
  --cream: #fff9ef;
  --lake-teal: #32c3e2;
  --lolla-red: #fb4a40;
  --light-sea-green: #01af9a;
  --recycle: #76c68b;
  --reflect-blue: #08a18c;
  --d59fd5: var(--wildflower-pink);
} */


/* START BASE */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* END BASE */

/* START HEADER */
header {
  margin: 40px auto 30px;

  /** 70% del tamaño del viewport*/
  max-width: 70vw;
  display: flex;
  flex-direction: row;
}

header figure {
  flex: 4;
}

header nav {
  flex: 5;
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
}

header nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

header nav ul li {
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  color: #d7df17;
}

/* END HEADER */

/* START MAIN */
main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  background-image: url('./img/background.png');
  background-size: contain;
  background-position: right;
  background-position-y: bottom;
}

/** BANNER/HERO */
main figure img {
  object-fit: contain;
}

main section {
  margin: 40px auto 10px;
  max-width: 70vw;
}

main section header h2 {
  color: #d7df17;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto auto 30px;
  letter-spacing: 0.08ch;
}

#participantes div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 16px;
}

#participantes div article {
  min-width: 100px;
  grid-column: auto;
  grid-row: auto;

  border-width: 5px;
  border-style: solid;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto 1fr auto;
}

/** necesario ya que los estilos del elemento header son definidos mas arriba, sin esta modificacion, este header usaria las mismas propiedades que el header base */
#participantes div article header {
  grid-column: 1;

  margin: 0 auto;
  width: 100%;
  text-align: left;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

#participantes div article header h3 {
  font-size: 2rem;
  padding-bottom: 4px;
}

#participantes div article header p {
  padding-right: 42px;
}

#participantes div article figure {
  grid-column: 2;
  align-self: center;
  justify-self: center;
  padding: 14px;
  padding-right: 54px;
}

#participantes div article figure img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  height: 100%;
  width: 100%;

  min-width: 96px;
}

#participantes div article footer {
  width: 100%;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  border-top: 5px solid;
  padding: 12px 0px 12px 0px;
}

#participantes div article footer a {
  color: white;
  border: 3px solid;
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  border-style: solid;
}

#participantes div article footer a:hover {
  border: 3px solid;
}

/** START CUSTOM CARDS */

#participantes div>:nth-child(1) {
  border-color: #dbafe0;
}

#participantes div>:nth-child(1) footer {
  border-color: #dbafe0;
}

#participantes div>:nth-child(1) footer a {
  border-color: #dbafe0;
}

#participantes div>:nth-child(2) {
  border-color: #fb4a40;
}

#participantes div>:nth-child(2) footer {
  border-color: #fb4a40;
}

#participantes div>:nth-child(2) footer a {
  border-color: #fb4a40;
}

#participantes div>:nth-child(3) {
  border-color: #01af9a;
}

#participantes div>:nth-child(3) footer {
  border-color: #01af9a;
}

#participantes div>:nth-child(3) footer a {
  border-color: #01af9a;
}

#participantes div>:nth-child(4) {
  border-color: #ffcd00;
}

#participantes div>:nth-child(4) footer {
  border-color: #ffcd00;
}

#participantes div>:nth-child(4) footer a {
  border-color: #ffcd00;
}

/** END CUSTOM CARDS */


#galeria {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#galeria article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


#galeria article> :nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#galeria article> :nth-child(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

#galeria article> :nth-child(3) {
  grid-column: 4;
  grid-row: 1;
}

#galeria article> :nth-child(4) {
  grid-column: 1;
  grid-row: 2 / span 2;
}

#galeria article> :nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

#galeria article> :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

#galeria article> :nth-child(7) {
  grid-column: 4;
  grid-row: 2 / span 2;
}

#galeria article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#galeria article figure img:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
}

/* START COMENTAR */

#comentar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comentar article table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

#comentar table td,
#comentar table th {
  border: 1px solid #ddd;
  padding: 40px;
}

#comentar table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9264cc;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

#comentar article header {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#comentar article ul {
  padding: 28px;
}

/* START FORM */
#comentar article form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
  width: 90%;
  /* border: 10px solid red; */
}

#comentar article form fieldset {
  width: 45%;
  box-sizing: border-box;
  text-align: left;
  border: none;
  padding: 10px 0px 10px 0px;
  /* border: 10px solid blue; */
}

#comentar article form fieldset label {
  display: block;
  padding-bottom: 2px;
}

#comentar article form fieldset input[type="radio"] {
  margin-top: 10px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
}

#comentar article form input,
select {
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 4px;
  padding-left: 10px;
}

#comentar article form fieldset label[for="si"],
#comentar article form fieldset label[for="no"] {
  display: inline-block;
}

#comentar article form> :nth-child(3) label {
  width: 100%;
}

#comentar article form> :nth-child(3) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

#comentar article form fieldset textarea {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

#comentar article form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #7118d7;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 1.125rem;
  border-color: #7118d7;

  cursor: pointer;
}

#comentar article form input[type="submit"]:hover {
  background-color: #9264cc;
}

/* END FORM */


/* END COMENTAR */


/* END MAIN */

/** START FOOTER */
footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer figure {
  padding: 10px
}

/** END FOOTER */