/**
  VARIABLES CSS EXTRAIDAS DE https://assets-global.website-files.com/61648208fbba11601a19f03a/css/lollapaloozaar.webflow.cbd58227a.min.css
*/
/* :root {
  --dark-violet: #7118d7;
  --black: black;
  --white: white;
  --gold: #ffcd00;
  --tomato: #ff4439;
  --medium-purple: #9264cc;
  --sweet-pepper-yellow: #d7df17;
  --wildflower-pink: #dbafe0;
  --cream: #fff9ef;
  --lake-teal: #32c3e2;
  --lolla-red: #fb4a40;
  --light-sea-green: #01af9a;
  --recycle: #76c68b;
  --reflect-blue: #08a18c;
  --d59fd5: var(--wildflower-pink);
} */


/* START BASE */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: black;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* END BASE */

/* START HEADER */
header {
  margin: 40px auto;

  width: 800px;
  display: flex;
  flex-direction: row;

  font-size: 18px;
}

header figure {
  flex: 4;
}

header nav {
  flex: 5;
}

header nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

header nav ul li {
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #d7df17;
}

/* END HEADER */

/* START MAIN */

/** BANNER/HERO */
main figure img {
  object-fit: contain;
}

main section {
  margin: 40px auto;
  width: 800px;
}

main section h2 {
  color: #d7df17;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

/* END MAIN */